node_modules/
/dist
/build

# File log khi chạy code bị lỗi
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Các file cấu hình môi trường chứa mật khẩu, API Key (Bảo mật)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

